body{
  background-color: beige;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 18px;
}
button{
  background-color: darkblue;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
a{
  text-align: center;
}
footer{
  font-size: 12px;
  text-align: center;
}
