body
{
    background-color:#D3E8EC;
}

  h2
{
    font-size: 40px;
    padding-left: 10px;
    text-decoration: underline;
}
img {
        padding-left: 450px;
	width: 450px;
	height: 450px;
}
p
{ 
    padding-left: 200px;
    font-size: 20px;
    text-decoration: underline;
}
#maDiv{
	width : 200px;
	height : 100px;
	margin : 0 auto;
	border : 2px solid black;
}
.rouge {
	background-color:red;
}
.blanc {
	background-color : white;
}
a1 {
    font-size: 30px;
    display:flex;
    margin-left: 23%;
    margin-top: 15%;
}
   
      
